In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
vkm_df = pd.read_excel("datasets/2013/LAEI2013_2013_AADT-VKM.xlsx", header=1)

In [ ]:
vkm_df.head()

In [2]:
majorroad_df = pd.read_excel("datasets/2013/LAEI2013_MajorRoads_EmissionsbyLink_2013.xlsx")

In [3]:
majorroad_df.head()

,GridId,Toid,GRID_ExactCut_ID,Location_ExactCut,BoroughName_ExactCut,Lts,Length (m),Emissions,Year,Pollutant,...,Artic5Axle,Artic6Axle,PetrolCar,DieselCar,PetrolLgv,DieselLgv,LtBus,Coach,ElectricCar,ElectricLgv
0,6253,4000000027908919,24,External,NonGLA,18898,50.761449,DFT,2013,CO2,...,0.241372,0.190560,8.761443,4.810774,0.037550,1.735121,0.0,0.0,0.0,0.0
1,6253,4000000027947931,24,External,NonGLA,18895,28.592125,DFT,2013,CO2,...,0.000000,0.000000,0.015535,0.008576,0.000000,0.000000,0.0,0.0,0.0,0.0
2,6253,4000000028013383,24,External,NonGLA,15816,5.101391,DFT,2013,CO2,...,0.027271,0.021509,0.939028,0.518684,0.004055,0.184415,0.0,0.0,0.0,0.0
3,6253,4000000028025820,24,External,NonGLA,15816,3.757501,DFT,2013,CO2,...,0.020087,0.015843,0.691654,0.382044,0.002987,0.135834,0.0,0.0,0.0,0.0
4,6253,4000000028029388,24,External,NonGLA,15816,1.624593,DFT,2013,CO2,...,0.008685,0.006850,0.299044,0.165180,0.001292,0.058729,0.0,0.0,0.0,0.0

Let's take only the rows with NOx as pollutant

In [4]:
majorroad_NOx_df = majorroad_df[majorroad_df["Pollutant"] == "NOx"]

In [5]:
majorroad_NOx_df.shape

(36622, 32)

There are seveal rows with the same GRID_ExactCut_ID

In [6]:
tot = majorroad_NOx_df[majorroad_NOx_df['GRID_ExactCut_ID'] == 24]
tot

,GridId,Toid,GRID_ExactCut_ID,Location_ExactCut,BoroughName_ExactCut,Lts,Length (m),Emissions,Year,Pollutant,...,Artic5Axle,Artic6Axle,PetrolCar,DieselCar,PetrolLgv,DieselLgv,LtBus,Coach,ElectricCar,ElectricLgv
36622,6253,4000000027947940,24,External,NonGLA,18898,8.599102,COPERT,2013,NOx,...,0.000229,0.000170,0.001643,0.003234,0.000015,0.001227,0.0,0.0,0.0,0.0
36623,6253,4000000028013396,24,External,NonGLA,18895,9.848858,COPERT,2013,NOx,...,0.000000,0.000000,0.000006,0.000012,0.000000,0.000000,0.0,0.0,0.0,0.0
36624,6253,4000000028025823,24,External,NonGLA,18892,9.933475,COPERT,2013,NOx,...,0.000000,0.000000,0.000006,0.000014,0.000000,0.000000,0.0,0.0,0.0,0.0
36626,6253,4000000027947906,24,External,NonGLA,15816,31.320934,COPERT,2013,NOx,...,0.000975,0.000724,0.006226,0.012840,0.000055,0.004817,0.0,0.0,0.0,0.0
36627,6253,4000000028013383,24,External,NonGLA,15816,5.101391,COPERT,2013,NOx,...,0.000159,0.000118,0.001014,0.002091,0.000009,0.000784,0.0,0.0,0.0,0.0
36628,6253,4000000028025820,24,External,NonGLA,15816,3.757501,COPERT,2013,NOx,...,0.000117,0.000087,0.000747,0.001540,0.000007,0.000578,0.0,0.0,0.0,0.0
36629,6253,4000000028257243,24,External,NonGLA,15816,20.173131,COPERT,2013,NOx,...,0.000628,0.000466,0.004010,0.008270,0.000035,0.003102,0.0,0.0,0.0,0.0
36632,6253,4000000027987854,24,External,NonGLA,15816,11.439532,COPERT,2013,NOx,...,0.000356,0.000265,0.002274,0.004690,0.000020,0.001759,0.0,0.0,0.0,0.0
36633,6253,4000000028029388,24,External,NonGLA,15816,1.624593,COPERT,2013,NOx,...,0.000051,0.000038,0.000323,0.000666,0.000003,0.000250,0.0,0.0,0.0,0.0
36636,6253,4000000027987857,24,External,NonGLA,15816,7.041133,COPERT,2013,NOx,...,0.000219,0.000163,0.001400,0.002887,0.000012,0.001083,0.0,0.0,0.0,0.0
36638,6253,4000000028025821,24,External,NonGLA,15816,1.808399,COPERT,2013,NOx,...,0.000056,0.000042,0.000359,0.000741,0.000003,0.000278,0.0,0.0,0.0,0.0
36639,6253,4000000028076358,24,External,NonGLA,18898,51.055488,COPERT,2013,NOx,...,0.001361,0.001009,0.009754,0.019204,0.000090,0.007283,0.0,0.0,0.0,0.0
37185,6253,4000000027887267,24,External,NonGLA,18898,110.907640,COPERT,2013,NOx,...,0.002957,0.002191,0.021188,0.041716,0.000196,0.015820,0.0,0.0,0.0,0.0
37195,6253,4000000027947939,24,External,NonGLA,18898,60.546560,COPERT,2013,NOx,...,0.001614,0.001196,0.011567,0.022774,0.000107,0.008637,0.0,0.0,0.0,0.0
37196,6253,4000000027908877,24,External,NonGLA,15816,28.070267,COPERT,2013,NOx,...,0.000874,0.000649,0.005580,0.011508,0.000049,0.004317,0.0,0.0,0.0,0.0
37197,6253,4000000027908913,24,External,NonGLA,18892,41.065640,COPERT,2013,NOx,...,0.000000,0.000000,0.000026,0.000060,0.000000,0.000000,0.0,0.0,0.0,0.0
37198,6253,4000000027908919,24,External,NonGLA,18898,50.761449,COPERT,2013,NOx,...,0.001353,0.001003,0.009698,0.019093,0.000090,0.007241,0.0,0.0,0.0,0.0
37199,6253,4000000028013382,24,External,NonGLA,15816,5.777231,COPERT,2013,NOx,...,0.000180,0.000134,0.001148,0.002368,0.000010,0.000888,0.0,0.0,0.0,0.0
37201,6253,4000000027947931,24,External,NonGLA,18895,28.592125,COPERT,2013,NOx,...,0.000000,0.000000,0.000017,0.000035,0.000000,0.000000,0.0,0.0,0.0,0.0
37202,6253,4000000027987855,24,External,NonGLA,15816,11.319122,COPERT,2013,NOx,...,0.000353,0.000262,0.002250,0.004640,0.000020,0.001741,0.0,0.0,0.0,0.0
37203,6253,4000000028029389,24,External,NonGLA,15816,1.400552,COPERT,2013,NOx,...,0.000044,0.000032,0.000278,0.000574,0.000002,0.000215,0.0,0.0,0.0,0.0
37204,6253,4000000027908878,24,External,NonGLA,15816,45.306565,COPERT,2013,NOx,...,0.001411,0.001048,0.009006,0.018574,0.000079,0.006967,0.0,0.0,0.0,0.0
37206,6253,4000000027987858,24,External,NonGLA,15816,7.047653,COPERT,2013,NOx,...,0.000219,0.000163,0.001401,0.002889,0.000012,0.001084,0.0,0.0,0.0,0.0

In [50]:
majorroad_NOx_df.columns

Index(['GridId', 'Toid', 'GRID_ExactCut_ID', 'Location_ExactCut',
       'BoroughName_ExactCut', 'Lts', 'Length (m)', 'Emissions', 'Year',
       'Pollutant', 'Emissions Unit', 'Motorcycle', 'Taxi', 'Car',
       'BusAndCoach', 'Lgv', 'Rigid', 'Artic', 'Rigid2Axle', 'Rigid3Axle',
       'Rigid4Axle', 'Artic3Axle', 'Artic5Axle', 'Artic6Axle', 'PetrolCar',
       'DieselCar', 'PetrolLgv', 'DieselLgv', 'LtBus', 'Coach', 'ElectricCar',
       'ElectricLgv'],
      dtype='object')

Let's drop the columns we do not need

In [13]:
dropped_majorroad_NOx_df = majorroad_NOx_df.drop(['GridId', 'Toid','Location_ExactCut','BoroughName_ExactCut', 'Lts', 'Length (m)', 
                       'Emissions', 'Year','Pollutant', 'Emissions Unit'], axis=1)

In [14]:
dropped_majorroad_NOx_df.head()

,GRID_ExactCut_ID,Motorcycle,Taxi,Car,BusAndCoach,Lgv,Rigid,Artic,Rigid2Axle,Rigid3Axle,...,Artic5Axle,Artic6Axle,PetrolCar,DieselCar,PetrolLgv,DieselLgv,LtBus,Coach,ElectricCar,ElectricLgv
36622,24,0.000036,0.000266,0.004877,0.0,0.001242,0.001655,0.000569,0.001144,0.000196,...,0.000229,0.000170,0.001643,0.003234,0.000015,0.001227,0.0,0.0,0.0,0.0
36623,24,0.000000,0.000000,0.000018,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000006,0.000012,0.000000,0.000000,0.0,0.0,0.0,0.0
36624,24,0.000000,0.000000,0.000021,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000006,0.000014,0.000000,0.000000,0.0,0.0,0.0,0.0
36625,25,0.000898,0.008868,0.162960,0.0,0.041504,0.067691,0.025031,0.047149,0.006800,...,0.011800,0.006460,0.050518,0.112441,0.000403,0.041102,0.0,0.0,0.0,0.0
36626,24,0.000123,0.001045,0.019066,0.0,0.004871,0.006864,0.002423,0.004717,0.000819,...,0.000975,0.000724,0.006226,0.012840,0.000055,0.004817,0.0,0.0,0.0,0.0

Let's group together the rows with the same GRID_ExactCut_ID and sum the numeric values in the columns for each group

In [15]:
grouped_majorroad_NOx_df = dropped_majorroad_NOx_df.groupby('GRID_ExactCut_ID').sum().reset_index()

In [16]:
grouped_majorroad_NOx_df.head()

,GRID_ExactCut_ID,Motorcycle,Taxi,Car,BusAndCoach,Lgv,Rigid,Artic,Rigid2Axle,Rigid3Axle,...,Artic5Axle,Artic6Axle,PetrolCar,DieselCar,PetrolLgv,DieselLgv,LtBus,Coach,ElectricCar,ElectricLgv
0,7,0.002513,0.019174,0.356098,0.000000,0.090485,0.451857,0.166175,0.303790,0.058346,...,0.074508,0.041656,0.119943,0.236154,0.001108,0.089377,0.000000,0.000000,0.0,0.0
1,8,0.001092,0.008695,0.161458,0.000000,0.041065,0.210361,0.078201,0.141106,0.027237,...,0.035048,0.019623,0.053740,0.107718,0.000487,0.040578,0.000000,0.000000,0.0,0.0
2,9,0.000000,0.000000,0.000212,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000070,0.000141,0.000000,0.000000,0.000000,0.000000,0.0,0.0
3,10,0.004130,0.025556,0.775638,0.101707,0.228613,0.124842,0.043145,0.086079,0.014850,...,0.017639,0.012661,0.257916,0.517722,0.002693,0.225919,0.048580,0.053126,0.0,0.0
4,18,0.004455,0.013777,1.448177,0.019372,0.291953,0.839830,0.283911,0.575675,0.099995,...,0.126125,0.074079,0.509771,0.938406,0.003976,0.287977,0.009505,0.009866,0.0,0.0

Let's add a colum with the total of the emission from road transportation for each row

In [18]:
grouped_majorroad_NOx_df['NOx_total'] = grouped_majorroad_NOx_df.sum(axis=1)

In [25]:
grouped_majorroad_NOx_df.shape

(2150, 23)

Let's import the summary dataset

In [7]:
emission_NOx_df = pd.read_excel("datasets/2013/LAEI2013_Emissions_Summary-NOx_v1.1.xlsx", sheet_name="NOx by Grid Exact Cut", header=3)

In [8]:
emission_NOx_df.head()

,Year,LAEI 1km2 ID,GRID_ExactCut_ID,Easting,Northing,Borough,Zone,Household and Garden,Small Waste and Accidental Fires,Agriculture,...,Diesel Car,Electric Car,Petrol LGV,Diesel LGV,Electric LGV,TfL Bus,Non-TfL Bus and Coach,Artic HGV,Rigid HGV,Total
0,2008,5910,1,510500,203500,NonGLA,NonGLA,0.003883,0.000572,0.201286,...,0.127835,0,0.002190,0.066301,0,0.009366,0.027786,0.007349,0.049962,1.967333
1,2008,5911,2,511500,203500,NonGLA,NonGLA,0.012427,0.001170,0.198410,...,11.514865,0,0.350856,5.869300,0,0.218069,1.403931,16.555124,8.092484,59.765916
2,2008,5912,3,512500,203500,NonGLA,NonGLA,0.007767,0.002745,0.221414,...,5.657128,0,0.188485,2.795584,0,0.056001,0.633929,12.213305,4.482978,34.497465
3,2008,5915,4,515500,203500,NonGLA,NonGLA,0.011650,0.001257,0.204161,...,0.133463,0,0.002341,0.069423,0,0.009337,0.027700,0.007298,0.049797,2.740376
4,2008,5916,5,516500,203500,NonGLA,NonGLA,0.010097,0.000292,0.238667,...,0.118262,0,0.002081,0.062048,0,0.008421,0.024983,0.006600,0.044962,2.846496

Let's take only the values for 2013

In [41]:
emission_NOx_2013_df = emission_NOx_df[emission_NOx_df['Year'] == 2013]

Let's take GRID_ExactCut_ID, Easting, Northing and total emission

In [42]:
GRID_ExactCut_ID_EastNort = emission_NOx_2013_df[["GRID_ExactCut_ID","Easting","Northing","Total"]]

Now let's join this new df with the previous one to use the info about Easting and Northing for each GRID_ExactCutID and the total emissions

In [43]:
NOx_emission_GRID_df = pd.merge(grouped_majorroad_NOx_df, GRID_ExactCut_ID_EastNort, on=['GRID_ExactCut_ID'], how='inner')

In [44]:
grouped_NOx_emission_GRID_df= NOx_emission_GRID_df.groupby('GRID_ExactCut_ID').sum().reset_index()

In [45]:
grouped_NOx_emission_GRID_df.head()

,GRID_ExactCut_ID,Motorcycle,Taxi,Car,BusAndCoach,Lgv,Rigid,Artic,Rigid2Axle,Rigid3Axle,...,PetrolLgv,DieselLgv,LtBus,Coach,ElectricCar,ElectricLgv,NOx_total,Easting,Northing,Total
0,7,0.002513,0.019174,0.356098,0.000000,0.090485,0.451857,0.166175,0.303790,0.058346,...,0.001108,0.089377,0.000000,0.000000,0.0,0.0,9.150916,518500,203500,25.900466
1,8,0.001092,0.008695,0.161458,0.000000,0.041065,0.210361,0.078201,0.141106,0.027237,...,0.000487,0.040578,0.000000,0.000000,0.0,0.0,8.991957,519500,203500,34.366832
2,9,0.000000,0.000000,0.000212,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,9.000423,508500,202500,36.878156
3,10,0.004130,0.025556,0.775638,0.101707,0.228613,0.124842,0.043145,0.086079,0.014850,...,0.002693,0.225919,0.048580,0.053126,0.0,0.0,12.577574,509500,202500,38.187974
4,18,0.004455,0.013777,1.448177,0.019372,0.291953,0.839830,0.283911,0.575675,0.099995,...,0.003976,0.287977,0.009505,0.009866,0.0,0.0,23.784721,517500,202500,36.999365

In [46]:
grouped_NOx_emission_GRID_df.shape

(2150, 26)

In [47]:
grouped_NOx_emission_GRID_df['GRID_ExactCut_ID'].nunique()

2150

In [48]:
grouped_NOx_emission_GRID_df.rename(columns={'NOx_total': 'NOx_total_road'}, inplace=True)

In [49]:
grouped_NOx_emission_GRID_df.head()

,GRID_ExactCut_ID,Motorcycle,Taxi,Car,BusAndCoach,Lgv,Rigid,Artic,Rigid2Axle,Rigid3Axle,...,PetrolLgv,DieselLgv,LtBus,Coach,ElectricCar,ElectricLgv,NOx_total_road,Easting,Northing,Total
0,7,0.002513,0.019174,0.356098,0.000000,0.090485,0.451857,0.166175,0.303790,0.058346,...,0.001108,0.089377,0.000000,0.000000,0.0,0.0,9.150916,518500,203500,25.900466
1,8,0.001092,0.008695,0.161458,0.000000,0.041065,0.210361,0.078201,0.141106,0.027237,...,0.000487,0.040578,0.000000,0.000000,0.0,0.0,8.991957,519500,203500,34.366832
2,9,0.000000,0.000000,0.000212,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,9.000423,508500,202500,36.878156
3,10,0.004130,0.025556,0.775638,0.101707,0.228613,0.124842,0.043145,0.086079,0.014850,...,0.002693,0.225919,0.048580,0.053126,0.0,0.0,12.577574,509500,202500,38.187974
4,18,0.004455,0.013777,1.448177,0.019372,0.291953,0.839830,0.283911,0.575675,0.099995,...,0.003976,0.287977,0.009505,0.009866,0.0,0.0,23.784721,517500,202500,36.999365

In these new dataset we have for each GRID_ExactCut_ID the total of emissions and the total emissions related to road transpost

In [68]:
concentration_NOx_df = pd.read_csv("datasets/2013/2013_Met2013_LAEI2013_NOX.csv")

In [69]:
concentration_NOx_df.head()

        x       y     conct  year
0  501460  170580  48.12150  2013
1  501460  170600  48.66610  2013
2  501460  170620  49.22263  2013
3  501460  170640  49.77797  2013
4  501460  170660  50.32024  2013

In [55]:
concentration_NOx_df.shape

(5856428, 4)

In [71]:
concentration_NOx_df.drop('year', inplace=True)

KeyError: "['year'] not found in axis"

In [72]:
concentration_NOx_df.rename(columns={'x': 'Easting', 'y': 'Northing'}, inplace=True)

In [73]:
NOx_emission_conc_GRID_df = pd.merge(grouped_NOx_emission_GRID_df, concentration_NOx_df, on=['Easting', 'Northing'], how='inner')
NOx_emission_conc_GRID_df.head()

,GRID_ExactCut_ID,Motorcycle,Taxi,Car,BusAndCoach,Lgv,Rigid,Artic,Rigid2Axle,Rigid3Axle,...,LtBus,Coach,ElectricCar,ElectricLgv,NOx_total_road,Easting,Northing,Total,conct,year
0,10,0.004130,0.025556,0.775638,0.101707,0.228613,0.124842,0.043145,0.086079,0.014850,...,0.048580,0.053126,0.0,0.0,12.577574,509500,202500,38.187974,31.52982,2013
1,18,0.004455,0.013777,1.448177,0.019372,0.291953,0.839830,0.283911,0.575675,0.099995,...,0.009505,0.009866,0.0,0.0,23.784721,517500,202500,36.999365,55.15401,2013
2,19,0.005582,0.040398,0.754372,0.000000,0.191186,0.785658,0.284121,0.529772,0.098915,...,0.000000,0.000000,0.0,0.0,23.076657,518500,202500,19.485203,30.36905,2013
3,21,0.000727,0.006456,0.123740,0.000000,0.031223,0.053604,0.000000,0.045332,0.000000,...,0.000000,0.000000,0.0,0.0,21.424315,520500,202500,42.948391,80.46594,2013
4,23,0.000000,0.000000,0.007389,0.000000,0.001903,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,23.018585,508500,201500,19.997558,30.65519,2013

In [65]:
NOx_emission_conc_GRID_df.shape

(2111, 28)

In [66]:
NOx_emission_conc_GRID_df["GRID_ExactCut_ID"].nunique()

2111

In [67]:
NOx_emission_conc_GRID_df.columns

Index(['GRID_ExactCut_ID', 'Motorcycle', 'Taxi', 'Car', 'BusAndCoach', 'Lgv',
       'Rigid', 'Artic', 'Rigid2Axle', 'Rigid3Axle', 'Rigid4Axle',
       'Artic3Axle', 'Artic5Axle', 'Artic6Axle', 'PetrolCar', 'DieselCar',
       'PetrolLgv', 'DieselLgv', 'LtBus', 'Coach', 'ElectricCar',
       'ElectricLgv', 'NOx_total_road', 'Easting', 'Northing', 'Total',
       'conct', 'year'],
      dtype='object')

In [76]:
NOx_emission_conc_GRID_df['road_emission_ratio'] = NOx_emission_conc_GRID_df['NOx_total_road'] / NOx_emission_conc_GRID_df['Total']

In [78]:
NOx_emission_conc_GRID_df.head()

,GRID_ExactCut_ID,Motorcycle,Taxi,Car,BusAndCoach,Lgv,Rigid,Artic,Rigid2Axle,Rigid3Axle,...,Coach,ElectricCar,ElectricLgv,NOx_total_road,Easting,Northing,Total,conct,year,road_emission_ratio
0,10,0.004130,0.025556,0.775638,0.101707,0.228613,0.124842,0.043145,0.086079,0.014850,...,0.053126,0.0,0.0,12.577574,509500,202500,38.187974,31.52982,2013,0.329360
1,18,0.004455,0.013777,1.448177,0.019372,0.291953,0.839830,0.283911,0.575675,0.099995,...,0.009866,0.0,0.0,23.784721,517500,202500,36.999365,55.15401,2013,0.642841
2,19,0.005582,0.040398,0.754372,0.000000,0.191186,0.785658,0.284121,0.529772,0.098915,...,0.000000,0.0,0.0,23.076657,518500,202500,19.485203,30.36905,2013,1.184317
3,21,0.000727,0.006456,0.123740,0.000000,0.031223,0.053604,0.000000,0.045332,0.000000,...,0.000000,0.0,0.0,21.424315,520500,202500,42.948391,80.46594,2013,0.498839
4,23,0.000000,0.000000,0.007389,0.000000,0.001903,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,23.018585,508500,201500,19.997558,30.65519,2013,1.151070

In [74]:
correlation_with_NOxconc = NOx_emission_conc_GRID_df.corr()['conct']

In [75]:
correlation_with_NOxconc

GRID_ExactCut_ID    0.199094
Motorcycle          0.159410
Taxi                0.244616
Car                 0.139800
BusAndCoach         0.219554
Lgv                 0.191994
Rigid               0.221646
Artic               0.228198
Rigid2Axle          0.220086
Rigid3Axle          0.225207
Rigid4Axle          0.221009
Artic3Axle          0.227707
Artic5Axle          0.228378
Artic6Axle          0.227744
PetrolCar           0.123622
DieselCar           0.147024
PetrolLgv           0.151365
DieselLgv           0.192389
LtBus               0.196723
Coach               0.139600
ElectricCar              NaN
ElectricLgv              NaN
NOx_total_road      0.200291
Easting            -0.039617
Northing            0.063060
Total               0.355171
conct               1.000000
year                     NaN
Name: conct, dtype: float64