In [1]:
import pandas as pd
import numpy as np

Import the first dataset about road traffic flows and vehicle-kilometres for 2019 for each vehicle type

In [2]:
vkm_df = pd.read_excel("laei-2019-major-roads-vkm-flows-speeds.xlsx")

In [3]:
vkm_df.head()

,Year,TOID,LAEI Zone,Borough,Road Classification,AADT Motorcycle,AADT Taxi,AADT Petrol Car,AADT Diesel Car,AADT Electric Car,...,VKM Electric LGV,VKM 2019 - HGVs - Rigid - 2 Axles,VKM 2019 - HGVs - Rigid - 3 Axles,VKM 2019 - HGVs - Rigid - 4 or more Axles,VKM 2019 - HGVs - Articulated - 3 to 4 Axles,VKM 2019 - HGVs - Articulated - 5 Axles,VKM 2019 - HGVs - Articulated - 6 Axles,VKM 2019 - Buses,VKM 2019 - Coaches,VKM 2019 - Total
0,2019,osgb4000000027947700,Non-GLA,Non-GLA,A Road,112,15,5470,3780,32,...,50,3659,736,1451,531,2759,3659,-,327,231749
1,2019,osgb4000000027908760,Non-GLA,Non-GLA,A Road,68,10,3049,2107,18,...,78,1718,344,687,258,1289,1718,-,1160,295268
2,2019,osgb4000000027987795,Non-GLA,Non-GLA,A Road,131,15,5752,3976,34,...,57,1377,275,551,192,1042,1377,-,7746,158880
3,2019,osgb4000000027869099,Non-GLA,Non-GLA,A Road,178,14,7280,5031,43,...,2066,63666,12679,25359,9172,48019,63396,-,97388,4851571
4,2019,osgb4000000030443012,Non-GLA,Non-GLA,A Road,178,34,8433,5828,50,...,11,465,94,185,67,352,465,-,446,43270

In [4]:
vkm_df.shape

(79437, 48)

In [22]:
vkm_df.columns

Index(['Year', 'TOID', 'LAEI Zone', 'Borough', 'Road Classification',
       ' AADT Motorcycle ', ' AADT Taxi ', ' AADT Petrol Car ',
       ' AADT Diesel Car ', ' AADT Electric Car ', ' AADT Petrol PHV ',
       ' AADT Diesel PHV ', ' AADT Electric PHV ', ' AADT Petrol LGV ',
       ' AADT Diesel LGV ', ' AADT Electric LGV ',
       ' AADT 2019 - HGVs - Rigid - 2 Axles ',
       ' AADT 2019 - HGVs - Rigid - 3 Axles ',
       ' AADT 2019 - HGVs - Rigid - 4 or more Axles ',
       ' AADT 2019 - HGVs - Articulated - 3 to 4 Axles ',
       ' AADT 2019 - HGVs - Articulated - 5 Axles ',
       ' AADT 2019 - HGVs - Articulated - 6 Axles ', ' AADT 2019 - Buses ',
       ' AADT 2019 - Coaches ', ' AADT 2019 - Total ',
       ' Speed (km/hr) - Except Buses ', ' Speed (km/hr) - Buses Only ',
       ' Link Length (m) ', ' VKM Motorcycle ', ' VKM Taxi ',
       ' VKM Petrol Car ', ' VKM Diesel Car ', ' VKM Electric Car ',
       ' VKM Petrol PHV ', ' VKM Diesel PHV ', ' VKM Electric PHV ',
       ' VKM Petrol LGV ', ' VKM Diesel LGV ', ' VKM Electric LGV ',
       ' VKM 2019 - HGVs - Rigid - 2 Axles ',
       ' VKM 2019 - HGVs - Rigid - 3 Axles ',
       ' VKM 2019 - HGVs - Rigid - 4 or more Axles ',
       ' VKM 2019 - HGVs - Articulated - 3 to 4 Axles ',
       ' VKM 2019 - HGVs - Articulated - 5 Axles ',
       ' VKM 2019 - HGVs - Articulated - 6 Axles ', ' VKM 2019 - Buses ',
       ' VKM 2019 - Coaches ', ' VKM 2019 - Total '],
      dtype='object')

This dataset likely serves to analyze and estimate vehicle emissions at a road network level, focusing on traffic volume (via AADT and VKM data) and vehicle types (motorcycles, cars, buses, etc.). TOID is a unique identifier for each road segment or link in the road network.

The second dataset includes emissions of key pollutants NOx, PM10, PM2.5 and CO2, and a range of additional pollutants (SO2, CH4, VOC...) in tonnes/year for 2013, 2016, 2019, 2025 and 2030 for each source category at a 1km grid square resolution

In [9]:
emissions_df = pd.read_excel("LAEI-2019-Emissions-Summary-including-Forecast.xlsx", sheet_name="Emissions by Grid ID")

In [11]:
emissions_df.head()

,Year,Grid ID 2019,LAEI 1km2 ID,Easting,Northing,Borough,Zone,Main Source Category,Sector,Source,...,n2o,nh3,nmvoc,nox,pb,pcb,pm10,pm2.5,so2,Emissions Unit
0,2030,1,5910,510500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.019183,0.019183,NaN,tonnes/annum
1,2030,2,5911,511500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.015719,0.015719,NaN,tonnes/annum
2,2030,3,5912,512500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.019878,0.019878,NaN,tonnes/annum
3,2030,4,5915,515500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.020946,0.020946,NaN,tonnes/annum
4,2030,5,5916,516500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.020105,0.020105,NaN,tonnes/annum

In [12]:
emissions_df.shape

(699120, 30)

In [26]:
emissions_df.columns

Index(['Year', 'Grid ID 2019', 'LAEI 1km2 ID', 'Easting', 'Northing',
       'Borough', 'Zone', 'Main Source Category', 'Sector', 'Source', 'bap',
       'cd', 'c4h6', 'c6h6', 'ch4', 'co', 'co2', 'hc', 'hcl', 'hg', 'n2o',
       'nh3', 'nmvoc', 'nox', 'pb', 'pcb', 'pm10', 'pm2.5', 'so2',
       'Emissions Unit'],
      dtype='object')

We can use the location related columns in this dataset to connect it to the concentration dataset. Easting and Northing are the X and Y in the concentration dataset.

We can divide the dataset by pollutant type and year

In [29]:
emissions_PM10_df = emissions_df[emissions_df['pm10'].notna()]

In [30]:
emissions_PM10_df.head()

,Year,Grid ID 2019,LAEI 1km2 ID,Easting,Northing,Borough,Zone,Main Source Category,Sector,Source,...,n2o,nh3,nmvoc,nox,pb,pcb,pm10,pm2.5,so2,Emissions Unit
0,2030,1,5910,510500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.019183,0.019183,NaN,tonnes/annum
1,2030,2,5911,511500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.015719,0.015719,NaN,tonnes/annum
2,2030,3,5912,512500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.019878,0.019878,NaN,tonnes/annum
3,2030,4,5915,515500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.020946,0.020946,NaN,tonnes/annum
4,2030,5,5916,516500,203500,Non GLA,Non GLA,Domestic,Biomass,Wood Burning,...,NaN,NaN,NaN,NaN,NaN,NaN,0.020105,0.020105,NaN,tonnes/annum

This is the data about the year 2019 for PM10

In [ ]:
emissions2019_PM10_df = emissions_df[(emissions_df['pm10'].notna()) & (emissions_df['Year'] == 2019)]

In [35]:
emissions2019_PM10_df.shape

(140516, 30)

The third dataset is about road transport emissions (NOx, PM10, PM2.5, and CO2) for 2019, 2025, and 2030, and includes data by vehicle type and specific PM emissions (exhaust, brake wear, and tire wear). there is a different sheet for each of the four pollutants (NOx, PM10, PM2.5, and CO2) in the Excel file that needs to be specified in the sheet_name parameter when loading the data

This one is the sheet about PM10

In [23]:
emissionsroads_PM10_df = pd.read_excel("LAEI2019-nox-pm-co2-major-roads-link-emissions.xlsx", sheet_name="PM10 Road Link Emissions")

In [31]:
emissionsroads_PM10_df.shape

(238317, 52)

In [24]:
emissionsroads_PM10_df.head()

,TOID,pollutant,pm-source,emissions-units,Road-Car-Petrol-2019,Road-Car-Petrol-2025,Road-Car-Petrol-2030,Road-Car-Diesel-2019,Road-Car-Diesel-2025,Road-Car-Diesel-2030,...,Road-Non-TfL-Bus-or-Coach-2030,Road-Taxi-2019,Road-Taxi-2025,Road-Taxi-2030,Road-Motorcycle-2019,Road-Motorcycle-2025,Road-Motorcycle-2030,Road-Total-2019,Road-Total-2025,Road-Total-2030
0,osgb4000000027865913,pm10,exhaust,tonnes/year,0.027772,0.026916,0.021559,0.119410,0.023310,0.006968,...,0.000940,0.000467,0.000058,0.000052,0.002146,0.001608,0.001419,0.273490,0.074153,0.042511
1,osgb4000000027865914,pm10,exhaust,tonnes/year,0.027955,0.028748,0.023069,0.119109,0.024336,0.007216,...,0.001115,0.000786,0.000099,0.000083,0.002184,0.001752,0.001540,0.314744,0.083489,0.047803
2,osgb4000000027865915,pm10,exhaust,tonnes/year,0.025853,0.029750,0.033082,0.107461,0.032148,0.018957,...,0.000679,0.000975,0.000083,0.000073,0.001652,0.001315,0.001357,0.320484,0.137564,0.099260
3,osgb4000000027865916,pm10,exhaust,tonnes/year,0.030315,0.037069,0.041507,0.121762,0.034694,0.020029,...,0.000540,0.000818,0.000078,0.000062,0.001762,0.001393,0.001447,0.361042,0.152194,0.108697
4,osgb4000000027865917,pm10,exhaust,tonnes/year,0.017942,0.021212,0.023505,0.072647,0.020763,0.011928,...,0.000471,0.000900,0.000076,0.000065,0.001078,0.000852,0.000877,0.223138,0.092968,0.065531

In [25]:
emissionsroads_PM10_df.shape

(238317, 52)

In [53]:
emissionsroads_PM10_df.columns

Index(['TOID', 'pollutant', 'pm-source', 'emissions-units',
       'Road-Car-Petrol-2019', 'Road-Car-Petrol-2025', 'Road-Car-Petrol-2030',
       'Road-Car-Diesel-2019', 'Road-Car-Diesel-2025', 'Road-Car-Diesel-2030',
       'Road-Car-Electric-2019', 'Road-Car-Electric-2025',
       'Road-Car-Electric-2030', 'Road-PHV-Petrol-2019',
       'Road-PHV-Petrol-2025', 'Road-PHV-Petrol-2030', 'Road-PHV-Diesel-2019',
       'Road-PHV-Diesel-2025', 'Road-PHV-Diesel-2030',
       'Road-PHV-Electric-2019', 'Road-PHV-Electric-2025',
       'Road-PHV-Electric-2030', 'Road-LGV-Petrol-2019',
       'Road-LGV-Petrol-2025', 'Road-LGV-Petrol-2030', 'Road-LGV-Diesel-2019',
       'Road-LGV-Diesel-2025', 'Road-LGV-Diesel-2030',
       'Road-LGV-Electric-2019', 'Road-LGV-Electric-2025',
       'Road-LGV-Electric-2030', 'Road-HGV-Rigid-2019', 'Road-HGV-Rigid-2025',
       'Road-HGV-Rigid-2030', 'Road-HGV-Articulated-2019',
       'Road-HGV-Articulated-2025', 'Road-HGV-Articulated-2030',
       'Road-TfL-Bus-2019', 'Road-TfL-Bus-2025', 'Road-TfL-Bus-2030',
       'Road-Non-TfL-Bus-or-Coach-2019', 'Road-Non-TfL-Bus-or-Coach-2025',
       'Road-Non-TfL-Bus-or-Coach-2030', 'Road-Taxi-2019', 'Road-Taxi-2025',
       'Road-Taxi-2030', 'Road-Motorcycle-2019', 'Road-Motorcycle-2025',
       'Road-Motorcycle-2030', 'Road-Total-2019', 'Road-Total-2025',
       'Road-Total-2030'],
      dtype='object')

We can find all columns related to emissions in 2025 and 2030 and drop them

In [45]:
columns_to_drop = emissionsroads_PM10_df.filter(regex='2025|2030').columns

In [44]:
columns_to_drop

Index(['Road-Car-Petrol-2025', 'Road-Car-Petrol-2030', 'Road-Car-Diesel-2025',
       'Road-Car-Diesel-2030', 'Road-Car-Electric-2025',
       'Road-Car-Electric-2030', 'Road-PHV-Petrol-2025',
       'Road-PHV-Petrol-2030', 'Road-PHV-Diesel-2025', 'Road-PHV-Diesel-2030',
       'Road-PHV-Electric-2025', 'Road-PHV-Electric-2030',
       'Road-LGV-Petrol-2025', 'Road-LGV-Petrol-2030', 'Road-LGV-Diesel-2025',
       'Road-LGV-Diesel-2030', 'Road-LGV-Electric-2025',
       'Road-LGV-Electric-2030', 'Road-HGV-Rigid-2025', 'Road-HGV-Rigid-2030',
       'Road-HGV-Articulated-2025', 'Road-HGV-Articulated-2030',
       'Road-TfL-Bus-2025', 'Road-TfL-Bus-2030',
       'Road-Non-TfL-Bus-or-Coach-2025', 'Road-Non-TfL-Bus-or-Coach-2030',
       'Road-Taxi-2025', 'Road-Taxi-2030', 'Road-Motorcycle-2025',
       'Road-Motorcycle-2030', 'Road-Total-2025', 'Road-Total-2030'],
      dtype='object')

In [46]:
emissionsroads2019_PM10_df = emissionsroads_PM10_df.drop(columns=columns_to_drop)

This is the data about 2019 PM10 emissions by road. It can be merged with the first dataset (traffic) using the TOID column

In [47]:
emissionsroads2019_PM10_df.shape

(238317, 20)

In [54]:
emissionsroads2019_PM10_df.columns

Index(['TOID', 'pollutant', 'pm-source', 'emissions-units',
       'Road-Car-Petrol-2019', 'Road-Car-Diesel-2019',
       'Road-Car-Electric-2019', 'Road-PHV-Petrol-2019',
       'Road-PHV-Diesel-2019', 'Road-PHV-Electric-2019',
       'Road-LGV-Petrol-2019', 'Road-LGV-Diesel-2019',
       'Road-LGV-Electric-2019', 'Road-HGV-Rigid-2019',
       'Road-HGV-Articulated-2019', 'Road-TfL-Bus-2019',
       'Road-Non-TfL-Bus-or-Coach-2019', 'Road-Taxi-2019',
       'Road-Motorcycle-2019', 'Road-Total-2019'],
      dtype='object')

Finally, the fourth datasets are about concentration. We have four files and each of them contains concentration data for a specific pollutants (PM10m, PM10d, NO2, NOx, PM2.5)

In [19]:
concentrations_PM10_df = pd.read_csv("laei_LAEI2019v3_CorNOx15_PM10m.csv")

In [20]:
concentrations_PM10_df.head()

        x       y      conc
0  519100  203440  15.09522
1  519120  203440  15.51029
2  519140  203440  16.40831
3  519160  203440  15.87096
4  519180  203440  15.34885

In [21]:
concentrations_PM10_df.shape

(5851964, 3)

In [28]:
concentrations_PM10_df.columns

Index(['x', 'y', 'conc'], dtype='object')

In [55]:
vkm_df.shape

(79437, 48)

In [56]:
emissionsroads2019_PM10_df.shape

(238317, 20)

In [57]:
merged_df = vkm_df.merge(emissionsroads2019_PM10_df, on='TOID', how='left')

In [61]:
merged_df.shape

(238213, 67)

In [62]:
merged_df['TOID'].duplicated().sum()

158776